.env
# Tệp cấu hình của Visual Studio
.vs/
.vscode/
.idea/

# Tệp nhị phân của dự án
bin/
obj/

# Các thư mục tạm thời được tạo ra khi build hoặc chạy ứng dụng
wwwroot/
node_modules/

# Tệp logs
*.log

# Tệp dữ liệu nhạy cảm (nếu có) như cấu hình kết nối cơ sở dữ liệu
appsettings.json
appsettings.Development.json

# Các tệp tạm thời do hệ thống tạo ra
Thumbs.db
ehthumbs.db

# Tệp backup và các tệp hệ thống khác
*.bak
*.swp
*.suo

# Thư mục chứa các tệp tạm thời và biên dịch của dự án
packages/

# Tệp cấu hình NuGet
.nuget/

# Các tệp tạo ra từ môi trường phát triển
*.user
*.suo
*.userosscache
*.sln.docstates
