@model MVC.Models.Pet

<h2>Thêm thú cưng mới</h2>

<!-- Hiển thị lỗi từ ModelState nếu có -->
@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <div class="alert alert-danger">
        @error.ErrorMessage
    </div>
}

<form asp-action="CreatePets" method="post" enctype="multipart/form-data" class="form">
    <div class="form-group">
        <label>Tên</label>
        <input asp-for="PetName" class="form-control" required />
        <span asp-validation-for="PetName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Loại</label>
        <input asp-for="PetType" class="form-control" required />
        <span asp-validation-for="PetType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Giống</label>
        <input asp-for="Breed" class="form-control" required />
        <span asp-validation-for="Breed" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Tuổi</label>
        <input asp-for="Age" class="form-control" required />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Giới tính</label>
        <select asp-for="Gender" class="form-control" required>
            <option value="">--- Vui lòng chọn 👇---</option>
            <option value="Đực">Đực</option>
            <option value="Cái">Cái</option>
            <option value="Lưỡng tính">Lưỡng tính</option>
        </select>
    </div>

    <div class="form-group">
        <label>Giá</label>
        <input asp-for="Price" class="form-control" required />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Ảnh thú cưng</label>
        <input type="file" name="imageFile" class="form-control" accept="image/*" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">🐶 Thêm</button>
    <a href="/Thucung" class="btn btn-success">Hủy</a>
</form>
