@model MVC.Models.Pet

<h2>Sửa Thú Cưng Có id: @Model.PetId</h2>

<form asp-action="EditPet" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="PetId" />
    <input type="hidden" name="page" value="@Context.Request.Query["page"]" />

    <label>Pet Name</label>
    <input asp-for="PetName" class="form-control" />
    <label>Pet Type</label>
    <input asp-for="PetType" class="form-control" />
    <label>Breed</label>
    <input asp-for="Breed" class="form-control" />
    <label>Age</label>
    <input asp-for="Age" class="form-control" />
    <div class="form-group">
        <label>Giới tính</label>
        <select asp-for="Gender" class="form-control" required>
            <option value="Đực">Đực</option>
            <option value="Cái">Cái</option>
            <option value="Lưỡng tính">Lưỡng tính</option>
        </select>
    </div>
    <label>Price</label>
    <input asp-for="Price" class="form-control" />
    
    <label>Image</label>
    <input type="file" name="imageFile" class="form-control" />
    
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">💾 Lưu thay đổi</button>
        <a href="/Thucung" class="btn btn-secondary ms-2">↩️ Quay lại</a>
    </div>
</form>
