@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Test Select2</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<body>

    <select id="CustomerId" style="width: 300px;">
        <option value="">-- Vui lòng chọn --</option>
        <option value="1">Khách 1</option>
        <option value="2">Khách 2</option>
    </select>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#CustomerId').select2({
                placeholder: "-- Vui lòng chọn --",
                allowClear: true
            });
        });
    </script>
</body>
</html>
