<div class="container">
  <div class="row bg-danger " style="height: 350px;">
    <div class="col-3 bg-white">Dòng 1 - Cột 1</div>
    <div class="col-9">Dòng 1 - Cột 2</div>
  </div>
  
  <div class="row">
    <div class="col-4" >Dòng 2 - Cột 1</div>
    <div class="col-8">Dòng 2 - Cột 2</div>
  </div>
</div>
