@model MVC.Models.Product

<h2>Thêm mới sản phẩm & dịch vụ</h2>


<!-- Hiển thị thông báo thành công nếu có -->
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
<!-- Hiển thị lỗi từ ModelState nếu có -->
@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <div class="alert alert-danger">
        @error.ErrorMessage
    </div>
}
<form asp-action="CreateProducts" method="post" class="form">
    <div class="form-group">
        <label>Product Name</label>
        <input asp-for="ProductName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Product category</label>
        <input asp-for="ProductCategory" class="form-control" />
    </div>
    <div class="form-group">
        <label>Type</label>
        <select asp-for="ProductType" class="form-control" required>
            <option value="">--- Vui lòng chọn 👇---</option>
            <option value="product">product</option>
            <option value="service">service</option>
        </select>
    </div>
    <div class="form-group">
        <label>Product Price</label>
        <input asp-for="ProductPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label>Product Stock</label>
        <input asp-for="ProductStock" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Thêm</button>
    <a href="/Sanpham" class="btn btn-success">Hủy</a>
</form>
