@model MVC.Models.Product

<h2>Sửa Thông Tin Sản Phẩm Có id: @Model.ProductId</h2>

<form asp-action="EditProduct" method="post">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" name="page" value="@Context.Request.Query["page"]" />

    <label>Product Name</label>
    <input asp-for="ProductName" class="form-control" />
    <label>Category</label>
    <input asp-for="ProductCategory" class="form-control" />
    <label>Type</label>
    <input asp-for="ProductType" class="form-control" />
    <label>Price</label>
    <input asp-for="ProductPrice" class="form-control" />
    <label>Stock</label>
    <input asp-for="ProductStock" class="form-control" />
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">💾 Lưu thay đổi</button>
        <a href="/Sanpham" class="btn btn-secondary ms-2">↩️ Quay lại</a>
    </div>
</form>
