@model MVC.Models.Customer

<h2>Sửa Thông Tin Khách Hàng Có id: @Model.CustomerId</h2>

<form asp-action="EditCustomer" method="post">
    <input type="hidden" asp-for="CustomerId" />

    <label>First Name</label>
    <input asp-for="FirstName" class="form-control" />
    <label>Last Name</label>
    <input asp-for="LastName" class="form-control" />
    <label>Phone Number</label>
    <input asp-for="PhoneNumber" class="form-control" />
    <label>Email</label>
    <input asp-for="Email" class="form-control" />
    <label>Address</label>
    <input asp-for="Address" class="form-control" />

    <button type="submit" class="btn btn-primary">💾 Lưu thay đổi</button>
</form>
